@using Model.Entities
@using Domain.LogicHandlers
@using Domain.LogicHandlers.Helper
@inject IDialogService DialogService
@inject ConvoyRerenderer ConvoyRerenderer

@if (Upgradeable.IsAddonPresent()){
    @if (Reverse){
        <div style="position: relative !important;" class="invert">
            <MudCardMedia Image=@Upgradeable.Addon.Image Height="179" @onclick="@(OpenElementInfo)"/>
            @foreach (var slot in Upgradeable.Addon.Slots.OrderBy(e => e.OrderId)){
                <MudImage Style="z-index: 5" Class=@($"rounded-2 slot-in-img-addon-{slot.OrderId}") Width="50" Height="50" Src="@(slot.GetImage())"
                          ObjectPosition="ObjectPosition.Center"/>
            }
        </div>
    }
    else{
        <div style="position: relative !important;">
            <MudCardMedia Image=@Upgradeable.Addon.Image Height="179" @onclick="@(OpenElementInfo)"/>
            @foreach (var slot in Upgradeable.Addon.Slots.OrderBy(e => e.OrderId)){
                <MudImage Style="z-index: 5" Class=@($"rounded-2 slot-in-img-addon-{slot.OrderId}") Width="50" Height="50" Src="@(slot.GetImage())"
                          ObjectPosition="ObjectPosition.Center"/>
            }
        </div>
    }
}
else{
    @if (Reverse){
        <MudCardMedia Class="invert" Image="cards/empty.png" Height="179"/>
    }
    else{
        <MudCardMedia Image="cards/empty.png" Height="179"/>
    }
}

<style>
    .slot-in-img-addon-1{
        position: absolute;
        top: 7px;
        left: 6px;
    }
    .slot-in-img-addon-2{
        position: absolute;
        top: 7px;
        left: 59px;
    }
    .slot-in-img-addon-3{
        position: absolute;
        top: 7px;
        left: 112px;
    }
    .slot-in-img-addon-4{
        position: absolute;
        top: 7px;
        left: 165px;
        
    }
</style>

@code {

    [Parameter]
    public Session Session { get; set; }

    [Parameter]
    public AUpgradeable Upgradeable { get; set; }

    [Parameter]
    public bool Reverse { get; set; }

    public async void OpenElementInfo(){
        var parameters = new DialogParameters(){
            ["ConvoyElement"] = Upgradeable.Addon,
            ["Session"] = Session
        };
        var options = new DialogOptions(){
            Position = DialogPosition.TopCenter,
            MaxWidth = MaxWidth.Large
        };
        DialogService.Show<ConvoyElementInfo>("Info", parameters, options);
    }

}