@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <main>
        <MudAppBar Style="@($"background:{Colors.Grey.Darken4};")" Fixed="true" Elevation="0">
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Filled.ArrowBackIos" Color="Color.Error" Href="/" Target="_self"></MudIconButton>
            <MudSpacer/>
            <MudText>Aurora</MudText>
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Filled.Construction" Color="Color.Success" Href="/convoybuilder" Target="_self"></MudIconButton>
            <MudSpacer/>
        </MudAppBar>
        @Body
    </main>
</div>